<nav class="navbar navbar-expand-md navbar-default bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="/">Guarderias</a>
    <div class="collapse navbar-collapse" id="navbar-primary">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/guarderias/profile/<%=locals.currentUser.username%>">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
</nav>