<div class="page-header page-header-small" data-parallax="true">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">

      <h1>Encuentra tu guarderia</h1>
      <br>
      <form action="/guarderias-search" method="POST" id="to-search">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <input class="form-control" id="address" type="text" name="address" value="Indica tu dirección">
          </div>
          </br>
          <button type="submit" class="btn btn-primary btn-round">Buscar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card-deck" id="home-gallery">
</div>
<script type="text/javascript" src="/javascripts/home-gallery.js"></script>