<h1>Encuentra tu guarderia</h1>
<div class="card">
  <div class="card-body">
    <form action="/guarderias-search" method="POST" id="to-search">
      <h5 class="card-title">Indica tu dirección</h5>
      <div class="col-auto">
        <input class="fsr-only" id="address" type="text" name="address">
      </div>
      <br>
      <div class="col-auto">
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
  </div>
</div>
<br>
<div class="card-deck" id="home-gallery">
</div>
<script type="text/javascript" src="/javascripts/home-gallery.js"></script>