<div class="card-body">
  <img src="<%=user.profilepic_path%>">
  <div>
    <h1>Hola,
      <%=user.username%>
    </h1>
  </div>
  <p id="children">Tienes
    <%=user.children%> hijo/s.
  </p>
  <div>
    <a href="/users/edit">Editar perfil</a>
  </div>
</div>
<br>
<% if ( typeof(error) != "undefined") { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>
    <br>
    </div>